@using MistyStep.Models
<MudPaper Class="pa-4">
    <MudForm @ref="form" Model="@ExerciseModel" @bind-IsValid="@success" @bind-Errors="@errors">
        <MudTextField T="string" Label="Exercise Name" Required="true" RequiredError="Exercise name is required!" />
        <div class="d-flex align-center justify-space-between">
            <MudButton OnClick="@(async ()=> await RegisterExercise())" Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto">Register</MudButton>
        </div>
    </MudForm>
</MudPaper>
@code {
    bool success;
    string[] errors = { };
    MudForm form;

    [Inject] IExerciseService ExerciseService { get; set; } = null!;
    [Inject] NavigationManager NavigationManager { get; set; } = null!;
    private ExerciseModel ExerciseModel { get; set; } = null!;

    private async Task RegisterExercise()
    {
        await ExerciseService.CreateNewExercise(ExerciseModel);
        NavigationManager.NavigateTo("/");
    }
}
