@namespace MistyStep.Components
<div class="scroll-stack">
    <MudStack>
        @if (Exercises is { Count: > 0 })
        {
            @foreach (var exercise in Exercises)
            {
                @* <MudPaper Class="pa-5">Hello</MudPaper> *@
                <MudPaper Class="pa-5">
                    <MudPaper Class="pa-1"> @exercise.Name </MudPaper>
                    <MudPaper Class="pa-1"> @exercise.CurrentRepetitions </MudPaper>
                    <MudPaper Class="pa-1"> @exercise.LastRepetitions </MudPaper>
                    <MudPaper Class="pa-1"> @exercise.RecordRepetitions </MudPaper>
                </MudPaper>
            }
        }
        else
        {
            <MudSkeleton />
            <MudSkeleton Animation="Animation.False" />
            <MudSkeleton Animation="Animation.Wave" />
        }
    </MudStack>
</div>
@* <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Size="Size.Large" /> *@